{%extends 'index.html'%}{%load static%}
{%block content%}
<div class="blog-layer">
    <div class="blog-content">
        <h1 style="margin: 0px 0px 5px 0px;border-bottom: 2px solid #e8e8e8;padding: 20px 0px 20px 0px;font-size: 40px;margin: auto auto 20px;">Блог</h1>
        {%for post in posts%}
            <div class="blog-post-item">
                <div class="blog-post-item-img">
                    <img src="{{post.image.url}}" alt="">
                </div>
                <div class="blog-post-item-content">
                    <h2>{{post.title}}</h2><span>{{post.date_creation}}</span>
                    <p>{{post.description|safe}}</p>
                    <a href="{%url 'post' post.id%}" id="">Читать полностью</a>
                </div>
            </div>
        {%endfor%}
    </div>
</div>
{%endblock%}