{%extends 'index.html'%}{%load static%}
{%block content%}
	<div class="company-layer" id="company-layer">
		<div class="company-layer-text" id="company-layer-text">
			<h1 style="margin: 0px 0px 5px 0px;border-bottom: 2px solid #e8e8e8;padding: 20px 0px 20px 0px;font-size: 40px;margin: auto auto 20px;">Корзина</h1>

				<div class="shop_layer">
					<div class="cart">
						{%for item in cart_items%}
						<div class="cart_item">
							<img src="{{item.product.image.url}}" alt=""style="max-width:90px;">
							{{item}}
						</div>
						{%endfor%}
						
					</div>
				</div>
				<strong>Товаров в корзине на сумму: {{total_cost}} рублей.</strong>
		</div>
	</div>
{%endblock%}