{%extends 'index.html'%}{%load static%}
{%block content%}
	<div class="company-layer" id="company-layer">
		<div class="company-layer-text" id="company-layer-text">
			<h1 style="margin: 0px 0px 5px 0px;border-bottom: 2px solid #e8e8e8;padding: 20px 0px 20px 0px;font-size: 40px;margin: auto auto 20px;">{{item.name}}</h1>

				<div class="shop_layer">
					<div class="shop_filter">
						<ul>
							<li><a href="{%url 'shop' %}" id="" {% if not request.GET.category_id %}class=""{% endif %}>Все</a></li>
							{%for item in categories%}
								<li><a href="{% url 'category' item.id %}" id="" {% if request.GET.category_id == item.id %}class="active"{% endif %}>{{item.name|truncatechars:50}}</a></li>
							{%endfor%}
						</ul>
				
					</div>
					<div class="shop_content">
						<div class="shop_item_full_content">
								{% comment %} <img src="{{item.image.url}}" alt=""> {% endcomment %}
								{% comment %} <a href="{%url 'item' item.id%}"><h2>{{item.name}}</h2></a> {% endcomment %}
								<p>{{item.description}}</p>
								<div class="item_navigate">
									<div class="add_cart">В корзину</div>
									<div class="item_coast">{{item.price}}</div>
								</div>
						</div>

					</div>
				</div>
		</div>
	</div>
{%endblock%}