{%extends 'dashboard.html'%}{%load static%}
{%block content%}
            <div class="accaunt-layer" id="accaunt-layer">
                <form action="" method="post">
                    {%csrf_token%}
                    {{form.as_p}}
                    <div>
                          <button type="submit">Изменить данные</button>
                    </div>



                </form>
            </div>
<style>
    .accaunt-layer{display: flex;flex-direction: column;width: 100%;}.accaunt-layer form buttom{cursor:pointer;}
    .accaunt-layer p{
        display:flex;
        flex-direction: column;
        margin: 0px 0px 20px 0px;
        width: 100%;
    }.accaunt-layer form{width:100%;}.accaunt-layer form input{padding: 12px 12px 12px 12px!IMPORTANT;border-radius:12px;border:1px solid #dedede;}
</style>
{%endblock%}