    <footer>{%load static%}
        <div class="footer" id="footer">
            <div class="footer-layer" id="footer-layer">
                <ul class="" id="">
                    <span>О компании</span>
                    <li><a href="" class="" id="">О нас</a></li>
                    <li><a href="" class="" id="">Карьера</a></li>
                    <li><a href="" class="" id="">Блог</a></li>
                </ul>
                <ul class="" id="">
                    <span>Важно</span>
                    <li><a href="" class="" id="">Оферта</a></li>
                    <li><a href="" class="" id="">Политика
                            конфеденциальности</a></li>
                    <li><a href="" class="" id="">Пользовательское соглащение</a></li>
                </ul>
                <ul class="" id="">
                    <span>Услуги</span>
                    <li><a href="" class="" id="">Подбор витаминов</a></li>
                    <li><a href="" class="" id="">Расшифровка анализов</a></li>
                    <li><a href="" class="" id="">Консультации врачей</a></li>
                </ul>
                <ul class="" id="">
                    <span>Ресурсы</span>
                    <li><a href="" class="" id="">IOS & Android</a></li>
                    <li><a href="" class="" id="">Разработчикам</a></li>
                    <li><a href="" class="" id="">API</a></li>
                </ul>
                <ul class="" id="">
                    <span>Связь с нами</span>
                    <li><a href="" class="" id="">(499) 555-0103</a></li>
                    <li><a href="" class="" id="">4517 Washington Ave.<br> Manchester,
                            Kentucky 39495</a></li>
                    <li><a href="" class="" id="">site@example.com</a></li>
                </ul>
            </div>
            <div class="footer-copyright" id="footer-copyright">
                <div class="footer-copyright-layer" id="footer-copyright-layer">
                    <a href="" class="" id="">2022 © enterlabs.ru</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="{%static 'js/javascript.js'%}"></script>
</body>

</html>