<!DOCTYPE html>{%load static%}
<html lang="ru">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>ENTERLABS | {{title}}</title>
	<link href="{% static 'css/style.css' %}" rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
		rel="stylesheet" />
		
</head>

<body>
{%include 'register_modal.html'%}
{%include 'login_modal.html'%}
	<div class="hidden_nav_layer" id="hidden_nav_layer">
		<div class="hidden_nav" id="hidden_nav">
			{%if request.user.is_authenticated%}<h2>{{user.email}}</h2>{%else%}{%endif%}
			<a href="{%url 'index'%}">Главная</a>
			<a href="{%url 'profile'%}">Профиль</a>
<!--			<a href="">Анализы</a>-->
			<a href="{%url 'about'%}">О компании</a>
			<a href="{%url 'blog'%}">Блог</a>
			<a href="{%url 'blog'%}">Корзина</a>
			<a href="{%url 'logout'%}">Выйти</a>
		</div>
	</div>

	<header>
		<div class="nav" id="nav">
			<div class="nav-layer" id="nav-layer">
				<div class="nav-logo-nav-layer" id="nav-logo-nav-layer">
					<div class="logotype" id="logotype">
						<a href="/">EnterLabs</a>

					</div>
					<ul>
						<li><a href="/">Главная</a></li>
<!--						<li style="opacity:0.2;"><a href="" style="cursor: not-allowed;">Анализы</a></li>opacity:0.2;cursor: not-allowed;-->
						<li style=""><a href="{%url 'shop'%}" style="">Витамины</a></li>
						<li style=""><a href="{%url 'blog'%}" style="">Блог</a></li>
						<li><a href="{%url 'about'%}">О компании</a></li>
					</ul>
				</div>				
				{%if request.user.is_authenticated%}
				<div class="nav-user-info-layer" id="nav-user-info-layer"style="display: flex;align-items:center;">
					<a href="{%url 'cart'%}" class="cart-link"><img src="{%static 'img/cart.png'%}" alt=""></a>
					<div class="" id="dropdown">
					{{user.email}}
                    <img src="{%static 'img/1177568.png'%}" alt="" class="dropdown">
					</div>
                    <div class="drop-down" id="drop-down">
                        <a href="{%url 'profile'%}">Профиль</a>
                        <a href="{%url 'cart'%}">Корзина</a>
<!--                        <a href="">Истрия расшифровок</a>-->
<!--                        <a href="">Здоровье</a>-->
                        <a href="{%url 'logout'%}">Выйти</a>
                    </div>
                </div>
				{%else%}
				<div class="nav-user-info" id="nav-user-info"style="display: flex;align-items: center;">
					<a href="#" class="sign_in" id="sign_in">Войти</a>
					<a href="#" class="sign_up" id="sign_up">Создать аккаунт</a>
				</div>
				{%endif%}

				<div class="user-navigation-layer" id="user-navigation-layer">
					<a href="{%url 'cart'%}" class="cart-link"><img src="{%static 'img/cart.png'%}" alt="">0</a>
					<img src="{% static 'img/90.svg'%}" alt="" class="get_user_navigation" id="get_user_navigation">
					<div class="user-navigation" id="user-navigation"></div>
				</div>
			</div>
		</div>
	</header>