<!-- login_modal.html -->
<!--<div id="login-modal" class="modal">-->
<!--  <div class="modal-content">-->
<!--    <span class="close">&times;</span>-->
<!--    <h2>Login</h2>-->
<!--    <form method="post" action="{% url 'login_modal' %}">-->
<!--      {% csrf_token %}-->
<!--      <label for="username">Username:</label>-->
<!--      <input type="text" id="username" name="username">-->
<!--      <br>-->
<!--      <label for="password">Password:</label>-->
<!--      <input type="password" id="password" name="password">-->
<!--      <br>-->
<!--      <button type="submit">Login</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

	<div class="modal" id="login">
		<form method="post" action="{% url 'login_modal' %}">
          {% csrf_token %}
			<span class="close" id="close_login">Х</span>
			<div class="form-layer" id="form-layer">
				<h1>Авторизация</h1>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <br>
				<button type="submit">Войти</button>
			</div>
		</form>
	</div>
